{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }]
  }
}